<ion-header class="ion-no-border">
  <ion-toolbar >
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Se connecter</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
      <ion-row class="ion-justify-content-evenly mt-5 text-center" >
        <ion-col size-lg="6" size-xs="12"  class="text-left">
          <h3>Connectez-vous et commencer à interagir avec les artisants dont vous avez besoin.</h3>
        </ion-col>
        <ion-col size-lg="5" size-xs="12"  class=" rounded-lg p-4 bg-white shadow-sm">
          <app-login-utilisateur></app-login-utilisateur>

          <ion-row class="mt-3">
            <ion-col>
      
              <ion-button routerLink="/register" routerDirection="forward" fill="clear" shape="round">Inscrivez-vous</ion-button>
            </ion-col>
          </ion-row>
        </ion-col>
        
      </ion-row>
  </ion-grid>
</ion-content>
