
<div class="container">
    <div class="row">
        <div class="col-lg-6 mx-auto">
            <div class="col-lg-12 text-center">
                <label for="">Utilisateur</label>
                <label class="switch m-2">
                    <input type="checkbox">
                    <span class="slider round"></span>
                </label>
                <label for="">Prestataire</label>
            </div>
            <app-connexion-utilisateur></app-connexion-utilisateur>
        </div>
    </div>
  
</div>

