<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/login"></ion-back-button>
   </ion-buttons>
    <ion-title>Créer un compte</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid fixed>
    <ion-row class="ion-justify-content-evenly" >
      
      <ion-col size-lg="6" class="ion-align-self-center">
        <h1>Envie de proposer vos services sur notre plateforme ?</h1>
        <ol>
          <li> <p>Inscrivez-vous</p></li>
          <li><p>Renseignez quelques informations</p></li>
          <li> <p>Décrivez au mieu votre spécialité</p></li>
          <li> <p>Commencez à répondre a vos clients</p></li>

        </ol>
       
       
        <h1>Ou alors juste envie de contacter un artisant ? </h1>
        <ol>
          <li><p>Inscrivez-vous</p></li>
          <li><p>Rechercher l'artisant dont vous avez besoin</p></li>
          <li><p>Prenez rendez-vous</p></li>
        </ol>
     
       
        
      </ion-col>

      <ion-col size-lg="5" class="rounded-lg p-4 text-center bg-white shadow">
        <app-register-utilisateur></app-register-utilisateur>
        <ion-button routerLink="/login" routerDirection="back"   fill="clear" shape="round" size="small">Se connecter ? </ion-button>

      </ion-col>
      
    </ion-row>
  </ion-grid> 

</ion-content>
